<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PollingStars</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.0.18/sweetalert2.min.css">
    <script src="https://cdn.tailwindcss.com"></script>

    <style>
        html {
            scroll-behavior: smooth;
        }
        
    </style>
  </head>
  <body>

    <div>
        <h4>Hi,{{username}}</h4>
        <p>Please click on the link below to activate your account.</p>
        <a href={{url}}>Verify</a>
        
    </div>

    
    
  </body>
</html>