{% load static %}
<div class="font-sans text-[#fff] mt-10">
  <div class="grid lg:grid-cols-2 items-center gap-y-6 bg-blue-500">
    <div class="max-lg:order-1 max-lg:text-center sm:p-12 p-4">
      <h2 class="lg:text-5xl text-3xl font-bold mb-4 lg:!leading-[56px]">Have Your Say: Voice Your Opinion!</h2>
      <p class="mt-4 text-base leading-relaxed">Whether it's expressing your opinion on pressing issues, sharing your preferences on trending topics, or simply engaging in lively debates, our platform empowers you to make your voice heard.</p>
      <button type='button'
        class="bg-transparent hover:bg-blue-600 border-2 border-white mt-10 transition-all text-white font-bold text-sm rounded-md px-6 py-2.5"><a href="#all-polls">Get Started</a></button>
    </div>
    <div class="lg:h-[440px] flex items-center">
      <img src="{% static "/images/hero.jpg" %}" class="w-full h-full object-cover" alt="Dining Experience" />
    </div>
  </div>

</div>